@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#nav{
    height: 121px;
    width: 1440px;
    background-color: white;
    display: flex;
    font-family: "Poppins", sans-serif;
    font-style: normal;

}
/* logo styling */
#logobar {
    height: 52.6px;
    width: 354.22px;
    margin: 40px 0px 28.4px 74px;
    display: flex;
}

#imgbox1 {
    height: 22.6px;
    width: 257px;
    margin-top: 13px;
    margin-right: 34px;
    margin-bottom: 16.94px;
    margin-left: 0px;
}

#imgbox2 {
    height: 52.6px;
    width: 45.22px;
}
.logimages{
    height: auto;
    width: 100%;
}
 /* links styling */ 
 #link_bar {
    height: 29px;
    width: 734px;
    margin-top: 54px;
    margin-bottom: 38px;
    margin-right: 65px;
    margin-left: 212.78px;
    display: flex;
    gap: 30px;
}

#link_bar ul {
    display: flex;
    list-style: none;
    gap: 32px;
}  
.links {
    font-size: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    display: flex;
    align-items: center;
}

.linktag {
    display: block;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    line-height: 22.5px;
    font-weight: 300;
}

#notification {
    gap: 22px;
    width: 160px;
    height: 29px;
    display: flex;
}
#toggle{
    display: none;
}
@media (max-width: 768px) {
    #nav {
      width: 100%;
      display: block;
      height: auto;
    }
    #logobar {
       width: 92%;
      margin-bottom: 10px;
      margin-left: 12px;
    }
    #link_bar {
      flex-direction: column;
      
      width: 100%;
      margin: 0px;
      background-color: white;
      display: block;
      height: auto;
    }
    #link_bar ul{
        display: flex;
        height: auto;
        width: 95%;
        justify-content: center;
      align-items: baseline;
      padding-left: 10px;
      padding-right: 10px;
      flex-direction: column;
    }
    .links {
        width: 100% !important;
        text-align: center;
        margin: 0px;
        border-bottom: 0.5px solid #000000;
        font-weight: 500;
        font-size: 14px;
      }
     #notification {
        display: none;
      }
    #toggle{
        display: block;
         margin-left: auto;
          height: auto;
          width: auto;
    }
    #toggle button{
        font-size: 2rem; 
        background-color: transparent;border: none; 
    }
    #imgbox1{
        width: 50%;
    }
    #link_bar {
        display: none;
      }
      #link_bar.open {
        display: block;
      }
  }

  /* tablet */
  @media (min-width: 768px) and (max-width: 1024px) {
    #nav {
        width: 100%;
        display: block;
        height: auto;
      }
      #logobar {
         width: 92%;
        margin-bottom: 10px;
        margin-left: 12px;
      }
      #link_bar {
        flex-direction: column;
        
        width: 100%;
        margin: 0px;
        background-color: white;
        display: block;
        height: auto;
      }
      #link_bar ul{
          display: flex;
          height: auto;
          width: 95%;
          justify-content: center;
        align-items: baseline;
        padding-left: 10px;
        padding-right: 10px;
        flex-direction: column;
      }
      .links {
          width: 100% !important;
          text-align: center;
          margin: 0px;
          border-bottom: 0.5px solid #000000;
          font-weight: 500;
          font-size: 14px;
        }
       #notification {
          display: none;
        }
      #toggle{
          display: block;
           margin-left: auto;
            height: auto;
            width: auto;
      }
      #toggle button{
          font-size: 2rem; 
          background-color: transparent;border: none; 
      }
      #imgbox1{
          width: 50%;
      }
      #link_bar {
          display: none;
        }
        #link_bar.open {
          display: block;
        }
  
  } 